.about-container {
  text-align: center;
  margin: 50px auto;
  max-width: 600px;
}
.about-container {
  color: #886161;
  font-family: "Libre Baskerville", serif;
  transition: 0.3s;
}
.about-image {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}
h1 {
  font-family: "Libre Baskerville", serif;
}
h3 {
  font-family: "Libre Baskerville", serif;
}
