/* Navbar.css */

nav {
  background-color: #85586f; /* Background color for the navbar */
  color: #000; /* Text color (changed from #0000 to #000) */
  padding: 10px; /* Adjust the padding as needed */
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

li {
  margin-right: 20px;
  /* Adjust the margin between list items as needed */
}

a {
  text-decoration: none;
  color: #cccccc; /* Link text color (changed from #0000 to #000) */
  font-weight: bold;
  transition: color 0.3s; /* Smooth color transition on hover */

  /* Style the link on hover */
  &:hover {
    color: #000; /* Change the link text color on hover */
  }
}

/* Style for the Login link */
.login-link {
  margin-right: 0; /* Remove margin to align to the right corner */
  display: flex;
  justify-content: flex-end;
}
